<div class="jumbotron">
  <h1>About me</h1>
  <p>I am currently working on a One Month Rails pinteresting app!</p>
  <p>The goal of this app is to create an open forum for sharing interesting photos and perhaps even some in depth insights from contributors like <strong>you!</strong></p>
</div>
